* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}
a {
  color: #274c5b;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.links {
  display: flex;
  align-items: center;
  gap: 25px;
}
#input {
  width: 376px;
  height: 66px;
  border-radius: 36px;
  border: none;
  background-color: #fafafa;
}
.btn1 {
  width: 159px;
  height: 66px;
  border-width: 1px;
  border-radius: 33px;
  background: none;
  border: 2px solid #e0e0e0;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 0 5px;
}
.inputbtn {
  display: flex;
  align-items: center;
  gap: 18px;
}
.img1 {
  position: absolute;
  margin-left: 313px;
}
header {
  background-image: url(images/Banner\ Image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 898px;
  padding: 130px;
}
header h1 {
  text-align: center;
  color: #274c5b;
  font-weight: 700;
  font-size: 70px;
}
.x1 {
  color: #274c5b;
  font-weight: 700;
  font-size: 50px;
}
.p2 {
  color: gray;
}
.div1 {
  width: 352px;
  height: 113px;
  border-width: 1px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 19px;
  border: 2px solid;
  padding: 11px 12px;
  border-color: #eeeeee;
}
h3 {
  color: #274c5b;
}

.btn2 {
  width: 220px;
  height: 80px;
  border-radius: 16px;
  border: none;
  background-color: #274c5b;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 60px;
  margin-left: 160px;
}
.limon {
  width: 92%;
  height: 323px;
  background-image: url(images/Background\ \(5\).png);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 71px;
  margin-left: 4rem;
  margin-top: -400px;
}
.x2 {
  font-weight: 700;
  font-size: 50px;
}
.input3 {
  width: 349px;
  height: 80px;
  border-radius: 16px;
  border: none;
  background-color: #fff;
  padding: 20px;
}
.btn3 {
  margin: 0;
}
.ib {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input3::placeholder {
  font-size: 15px;
  font-style: italic;
}
.f1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: end;
}
footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px 200px;
}
.h3 {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.f2 {
  text-align: center;
}
.f {
  height: 60px;
  width: 100%;
  border: 2px solid #d4d4d4;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 20px;
}
.f .p2 {
  margin-left: 50px;
}