* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  align-items: start;
  gap: 40px;
}
.div1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.p2 {
  color: gray;
}
.card img {
  margin-left: 50px;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -1.07px;
  color: #495567;
  font-family: "Space Mono", monospace;
}
h1 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  font-family: "Space Mono", monospace;
}
.bnt {
  width: 180px;
  height: 53px;
  background: #fcb72b;
  color: #fff;
  border: none;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}
.div2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 220px;
  margin-top: 200px;
}
